h1{
    text-align:center;
    font-family:permanent marker;
    font-weight:normal;
    font-size:45px;
    margin:10px;
    color:red;
    }
h2{
    text-align:center;
    font-family:russo one;
    font-size:45px;
    color:blue;
    }
h3{
    text-align:center;
    font-family:permanent marker;
    font-weight:normal;
    margin:3px;
    color:blue;
    }
.img1{
    display: block;
    margin: 0 auto;
    border:ridge crimson 10px;
    width:210px;
    height:210px;
    }
img{
    width:180px;
    height:180px;
    }

body{
    background: steelblue;
    background-image:url("https://4.bp.blogspot.com/-msw6ZYJcyWo/WmUVMmT72OI/AAAAAAAADtQ/a6xlrilOcm8r62eOnx2XZRbjvzPUKtrtACLcBGAs/s1600/new%2Byear%2Bwho%2Bdis%2B7.gif");
    
    }
.img{
    display:flex;
    justify-content: space-between;
    margin: 10px;
    padding:10px;
    border: solid blue 2px;
    }
p{
    text-align:center;
    font-family: saira;
    font-size:25px;
    color:blue;
    }
.bar{
    display:flex;
    justify-content:flex-end;
    border:solid blue 3px;
    padding:10px;
    margin:10px;
    }
.button{
    border: solid red 2px;
    padding:10px;
    margin:7px;
    }
.donate{
    display:flex;
    justify-content:center;
    }
.class{
    color:white;
    background:red;
    width:200px;
    height:100px;
    font-size:45px;
    }
.youtube{
    color:white;
    }